* {
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 70px;
}

.subheader {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 12px;
}

.subheader .subheader_official {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 5px;
}
